<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Admin Laptop8386</title>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/feather-icons"></script> -->
  </head>
  <body class="bg-gray-100 text-black">
    <div class="flex h-screen">
      <!-- Sidebar -->
      <div class="w-64 bg-primary p-4 flex flex-col h-full">
        <div class="flex items-center gap-2 mb-8">
          <i class="fas fa-laptop text-2xl"></i>
          <h1 class="text-xl font-bold">Laptop Admin</h1>
        </div>
        <nav>
          <ul class="space-y-2">
            <li>
              <button
                class="w-full flex items-center gap-2 p-2 rounded hover:bg-gray-500"
                onclick="loadPage('../admin/dashboard.html')"
                class="mr-2 underline"
              >
                <i class="fas fa-home"></i>
                <span>Dashboard</span>
              </button>
            </li>
            <li>
              <button
                class="w-full flex items-center gap-2 p-2 rounded hover:bg-gray-500"
                onclick="loadPage('../admin/product.html')"
                class="mr-2 underline"
              >
                <i class="fas fa-box"></i>
                <span>Quản lý Sản phẩm</span>
              </button>
            </li>
            <li>
              <button
                class="w-full flex items-center gap-2 p-2 rounded hover:bg-gray-500"
                onclick="loadPage('../admin/brands.html')"
                class="mr-2 underline"
              >
                <i class="fas fa-box"></i>
                <span>Quản lý Nhãn Hàng</span>
              </button>
            </li>
            <li>
              <button
                class="w-full flex items-center gap-2 p-2 rounded hover:bg-gray-500"
                onclick="loadPage('../admin/product_types.html')"
                class="mr-2 underline"
              >
                <i class="fas fa-box"></i>
                <span>Quản lý Loại Sản Phẩm</span>
              </button>
            </li>
            <li>
              <button
                class="w-full flex items-center gap-2 p-2 rounded hover:bg-gray-500"
                onclick="loadPage('../admin/order.html')"
                class="mr-2 underline"
              >
                <i class="fas fa-box"></i>
                <span>Quản lý Đơn Hàng</span>
              </button>
            </li>
            <li>
              <button
                class="w-full flex items-center gap-2 p-2 rounded hover:bg-gray-500"
                onclick="loadPage('../admin/customer.html')"
                class="mr-2 underline"
              >
                <i class="fas fa-users"></i>
                <span>Quản lý Khách hàng</span>
              </button>
            </li>
            <li>
              <button
                class="w-full flex items-center gap-2 p-2 rounded hover:bg-gray-500"
                onclick="loadPage('../admin/voucher.html')"
                class="mr-2 underline"
              >
                <i class="bi bi-ticket-perforated-fill"></i>
                <span>Quản lý Mã giảm giá</span>
              </button>
            </li>
            <!-- <li>
              <button
                class="w-full flex items-center gap-2 p-2 rounded hover:bg-gray-500"
                onclick="loadPage('../admin/thongke.html')"
                class="mr-2 underline"
              >
                <i class="fas fa-chart-bar"></i>
                <span>Thống kê</span>
              </button>
            </li> -->
          </ul>
        </nav>
        <!-- Nút đăng xuất luôn nằm cuối sidebar -->
        <button
          class="w-full flex items-center gap-2 p-2 rounded bg-red-600 text-white hover:bg-red-700 mt-auto"
          onclick="logoutAdmin()"
        >
          <i class="fas fa-sign-out-alt"></i>
          <span>Đăng xuất</span>
        </button>
      </div>

      <!-- Main Content -->
      <div id="app-content" class="flex-1 overflow-auto">
        <!-- 
        đoạn này sẽ lấy từ các file html trong forder admin của ae nhúng vào đây 
         xử lý bằng file layout.js link ở dưới 
        -->
      </div>
    </div>

    <script src="../js/layout.js"></script>
    <script>
      loadPage("../admin/dashboard.html");
    </script>
    <script>
      function logoutAdmin() {
        if (confirm("Bạn có chắc chắn muốn đăng xuất không?")) {
          localStorage.removeItem("token");
          window.location.href = "/frontend/layouts/login-layout.html";
        }
      }
    </script>
  </body>
</html>
